.container {
  min-width: 800px;
  min-height: 500px;

  display: grid;
  grid-template-columns: 1fr 1fr;

  position: absolute;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  font-family: "Saira Semi Condensed", sans-serif;
}

/* =========================POKEDEX LEFT SIDE========================= */

.left-side {
  width: 100%;
  height: 100%;
  position: relative;
}

.outer {
  height: 100%;
  border-radius: 7% 5% 5% 5%;
  border: 1.2px solid rgba(0, 0, 0, 0.5);
  border-width: 0 0 1.2px 1.2px;
  background-color: #73121e;
  box-sizing: border-box;
}

.inner {
  height: 99%;
  margin-left: 10px;
  display: grid;
  grid-template-rows: 0.35fr 1.65fr;
}

/* LIGHT========================= */

.light-container {
  position: relative;
  border-radius: 35px 20px 0 0;
  border-top: 1.2px solid rgba(0, 0, 0, 0.5);
  border-left: 1.2px solid rgba(0, 0, 0, 0.5);
  background: #cd1030;
  box-sizing: border-box;
}

.light-container-left {
  width: 55%;
  height: 100%;
  position: absolute;
  border-radius: 50% 0 50% 0;
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

.light-container-right {
  width: 45%;
  height: 100%;
  top: 20;
  right: 0;
  bottom: 0;
  border-radius: 30% 10% 0 0;
  position: absolute;
  border-top: 4px solid rgba(0, 0, 0, 0.5);
}

/* BIG LIGHT========================= */

.big-light {
  position: absolute;
  margin: 10px 0 0 30px;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  background-color: #fcfaff;
  border: 1.2px solid rgba(0, 0, 0, 0.8);
}

.blue-light {
  position: absolute;
  margin: 4px 0 0 7px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #0ad1ff;
  border: 1.2px solid rgba(0, 0, 0, 0.8);
}

.blue-light--dark {
  position: absolute;
  margin: 7px 0 0 10px;
  width: 38px;
  height: 38px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.blue-light--white {
  position: absolute;
  margin: 6px 0 0 15px;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: #0ad1ff;
}

.blue-light--inner-white {
  margin: 1px 0 0 5px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: rgba(250, 250, 250, 0.5);
}

/* SMALL LIGHT========================= */

.small-light-group {
  margin: 15px 0 0 100px;
}

.small-light {
  display: inline-block;
  margin-right: 5px;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  background-color: #fcfaff;
  border: 1.2px solid rgba(0, 0, 0, 0.8);
}

.red-light {
  background-color: rgb(238, 7, 7);
}

.yellow-light {
  background-color: rgb(221, 226, 20);
}

.green-light {
  background-color: rgb(145, 249, 19);
}

.light-refection {
  position: absolute;
  margin: 2px 0 0 1px;
  width: 21px;
  height: 21px;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.light-refection-inner {
  margin: 0 0 0 1px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
}

.light-refection-inner--white {
  margin: 1px 0 0 1px;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: rgba(250, 250, 250, 0.3);
}

/* SCREEN ========================= */

.screen-container {
  border-radius: 0 0 5% 5%;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.5);
  border-left: 1.5px solid rgba(0, 0, 0, 0.5);
  background-color: #cd1030;
}

.screen-outline {
  width: 90%;
  height: 80%;
  margin-left: 10px;
  border-radius: 0 0 0 5%;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.5);
  border-left: 1.5px solid rgba(0, 0, 0, 0.5);
}

.screen-outer {
  position: absolute;
  width: 290px;
  height: 350px;
  margin-top: 20px;
  margin-left: 20px;
  background-color: rgb(105, 106, 114);
  border-left: 1.2px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1.2px solid rgba(0, 0, 0, 0.5);

  border-radius: 12px;
}

.screen-inner {
  position: absolute;
  width: 97.5%;
  height: 98%;
  margin-left: 5px;
  background-color: rgb(222, 222, 222);
  border: 1.2px solid rgba(0, 0, 0, 0.8);
  border-radius: 12px;
}

.screen-button-group {
  width: 100%;
  height: 10%;
  text-align: center;
}

.small-button {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-top: 10px;
  border-radius: 50%;
  border: 1.2px solid rgba(0, 0, 0, 0.8);
  background-color: rgb(206, 16, 48);
}

.small-button:first-child {
  margin-right: 10px;
}

.screen {
  width: 90%;
  height: 75%;
  margin: auto;
  border-radius: 5%;
  border: 1.2px solid rgba(0, 0, 0, 0.8);
  background-size: 70% auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  background-image: url("https://i.imgur.com/zIxgrDd.png");
}

.overlay {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  border-radius: 5%;
  background-color: white;
}

.overlay p {
  animation: flash 0.75s linear infinite;
}

@keyframes flash {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.speaker-button {
  float: left;
  width: 25px;
  height: 25px;
  margin-top: 10px;
  margin-left: 20px;
  border-radius: 50%;
  border: 1.2px solid rgba(0, 0, 0, 0.8);
  background-color: rgb(206, 16, 48);
}

.speaker {
  height: 30px;
  float: right;
  margin-top: 10px;
  margin-right: 15px;
}

.speaker > div {
  width: 70px;
  height: 4px;
  margin-bottom: 4px;
  border-radius: 30%;
  background-color: rgba(5, 5, 5, 0.8);
}

/* HANDLE ========================= */

.joint-container {
  width: 10%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  /* background-color: white; */
}

.joint {
  width: 100%;
  height: 94%;
  position: absolute;
  top: 21;
  right: 0;
  background-color: #cd1030;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 12px;
}

.joint-start {
  width: 105%;
  height: 20px;
  position: absolute;
  top: 20;
  right: 0;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-width: 2px 0 0 0;
  z-index: 2;
}

.joint-end {
  width: 100%;
  height: 18px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #73121e;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.joint-inner {
  width: 100%;
  height: 10px;
  position: absolute;
  top: 20;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-width: 2px 0 0 0;
  border-radius: 50%;
}

.joint-refection {
  width: 10%;
  height: 95%;
  position: absolute;
  top: 23;
  right: 30;
  background-color: rgba(250, 250, 250, 0.2);
}

/* =================================== */

.right-side {
  display: grid;
  grid-template-rows: 0.3fr 1.7fr;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: 60px;
  /* background-color: salmon; */
}

.upper-part {
  position: relative;
}

.upper-outline-left {
  width: 45%;
  height: 100%;
  position: absolute;
  border-radius: 0 50% 0 0;
  background-color: #cd1030;
  border-top: 2px solid rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.upper-outline-right {
  width: 55%;
  height: 100%;
  right: 0;
  bottom: 15;
  border-radius: 30% 0 0 30%;
  position: absolute;
  border-bottom: 2px solid rgba(0, 0, 0, 0.8);
  z-index: 2;
  background-color: white;
}

.upper-outline-right-background {
  width: 55%;
  height: 50%;
  right: 0;
  bottom: 0;
  position: absolute;
  border-right: 2px solid rgba(0, 0, 0, 0.5);
  background-color: #cd1030;
}

.upper-left {
  width: 35%;
  height: 60%;
  top: 25;
  left: 20;
  position: absolute;
  border-radius: 0 50% 0 0;
  border-top: 4px solid rgba(0, 0, 0, 0.5);
  border-left: 1.5px solid rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.upper-right {
  width: 55.5%;
  height: 100%;
  right: 10;
  bottom: 0;
  border-radius: 0 0 0 30%;
  position: absolute;
  border-bottom: 4.5px solid rgba(0, 0, 0, 0.5);
  z-index: 3;
}

/* =================================== */
.lower-part {
  position: relative;
  background-color: #cd1030;
  border-radius: 0 0 5% 0;
  border-right: 2px solid rgba(0, 0, 0, 0.5);
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.lower-part-inner {
  width: 90%;
  height: 82%;
  margin-left: 20px;
  border-radius: 0 0 5% 0;
  border-top: 0;
  border-right: 4.5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.5);
  border-left: 1.5px solid rgba(0, 0, 0, 0.5);
  text-align: center;
}

#searchInput {
  padding: 10px;
  width: 250px;
  height: 30px;
  margin-top: 25px;
  margin-left: 2px;
  background-color: rgb(3, 45, 40);
  border: 1.5px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: white;
  text-align: center;
  text-transform: capitalize;
  font-family: "Saira Semi Condensed", sans-serif;
}

#searchInput:focus {
  outline: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: "Saira Semi Condensed", sans-serif;
  color: rgba(255, 255, 255, 0.5);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-family: "Saira Semi Condensed", sans-serif;
  color: rgba(255, 255, 255, 0.5);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  font-family: "Saira Semi Condensed", sans-serif;
  color: rgba(255, 255, 255, 0.5);
}

.info-screen {
  padding: 10px;
  width: 250px;
  height: 70%;
  margin: auto;
  margin-top: 20px;
  background-color: rgb(3, 45, 40);
  border: 1.5px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: white;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.info {
  display: block;
  font-size: small;
}

.info > p {
  margin-bottom: 1opx;
  line-height: 1.2em;
}

.info > p:nth-child(2),
.evolution {
  margin-left: 15px;
}

.evolution {
  display: flex;
}

.evolution > * {
  align-self: center;
  text-transform: capitalize;
}

.arrow {
  font-size: 16px;
  font-weight: 500;
}

.ui-widget-content {
  text-transform: capitalize;
  background: rgb(3, 45, 40) !important;
}

.ui-widget.ui-widget-content {
  font-family: "Saira Semi Condensed", sans-serif;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.5) !important;
}
